{% extends "index.html" %}
{% block doctitle %}Film | {{ block.super }}{% endblock %}
{% block content %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for schedule in object_list %}
      <div class="col">
  <div class="card h-100">
  {% load static %}
      <form method="get">
    <div class="card-body">
      <h5 class="card-title">Session: {{ schedule }}</h5>
        <h6 class="card-text">{{ schedule.film }}</h6>
        <p class="card-text">Hall: {{ schedule.hall }}</p>
      <p class="card-text">Start time: {{ schedule.start_time }}</p>
        <p class="card-text">Price: {{ schedule.price }} UAH</p>
    </div>
           <div class="text-end">
        Free places: <span class="badge  bg-secondary">{{ schedule.hall.place}}</span>
      </div>
      <div class="card-footer">
{#          <input type="hidden" name="schedule_id" value="{{ schedule.id }}">#}
          <a href="{% url "schedule:ticket" %}" class="btn mt-1 m-2" style="background-color: #808080">Buy ticket</a>
      </div>
      </form>
  </div>
</div>
    {% endfor %}
  </div>
{% endblock %}

