{% extends 'index.html' %}
{% block content %}
      <table class="table">
          <tr>
              <th><h5><strong>Ticket:</strong></h5></th>
          </tr>
      </table>
      <form method="post" class="row row-cols-1">
                {% csrf_token %}
          <div class="cart-row">
              {{ form.as_p }}
          <input type="submit" class="btn btn-primary" value="Confirm">
              <a href="{% url "schedule:list" %}" class="col-1 btn btn-secondary">Cancel</a>
      </div>
          </form>
      </div>
{% endblock %}