footer { width:100%; background-color:#263238; min-height:100px; padding:20px 0px 25px 0px}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}

.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .0s;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}